<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>
</head>
<body>
<div class="centered">
    <h1>Plotty</h1>
</div>

<style>
div.centered{
	text-align: center
}
div.hline{
  height: 10px;
  width: 100%;
  background-color: blue;
}
</style>

<div class="hline">
</div> 

<div>
    <p>Upload your data</p>
</div>

<div class="hline">
</div> 

<div class="centered">
	<p>© 2019</p>
</div>


</body>
</html>
